# Requirements as of October 2025 (GemGIS 1.2)

# geopandas will also install numpy, pandas, shapely, pyogrio, and pyproj
geopandas>=1.1.1
shapely>=2.1.1
pandas>=2.3.2
numpy>=2.3.2
pyproj>=3.7.2

# rasterio will also install affine
rasterio>=1.4.3
affine>=2.4.0

# pyvista also install pooch and matplotlib
pyvista>=0.46.3
matplotlib>=3.10.6